# Environment variables
# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres_secure_pwd_123@localhost:5432/smart_kids_db?schema=public"

# Better Auth Secret and URL
BETTER_AUTH_SECRET="super_secret_better_auth_session_key_32_characters_minimum"
BETTER_AUTH_URL="http://localhost:3000"

# Node Env
NODE_ENV="development"
